:root {
    box-sizing: border-box;
    font-family: 'Roboto';
}

body {
    margin: 0px;
}

#container {
    display: grid;
    grid-template-rows: 125px 1fr;
    grid-template-columns: 215px 1fr;
    height: 100vh;
    margin: 0;
}

.sidebar {
    background-color:#1c93d2;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-rows: repeat(12, 35px) 1fr;
    grid-template-columns: 1fr;
    gap: 1px;
    text-align: center;
    letter-spacing: 0.5px;
}

.sidebar div {
    font-size: 15px;
    font-weight: bold;
    color: white;
    /* border: 1px solid purple; */
    align-self: center;
    justify-self: start;
}

.sidebar img {
    position: relative;
    top: 3px;
    height: 17px;
    margin-left: 20px;
    margin-right: 17px;
}

#dashboard img {
    height: 34px;
    margin-top: 24px;
    margin-left: 12px;
    margin-right: 8px;
}

#dashboard span {
    font-size: 20px;
    position: relative;
    top: -8px;
}

.header {
    background-color: white;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 300px;
}

/* .header > div {
    border: 1px solid red;
} */

.header1 {
    padding-top: 15px;
}

form {
    display: flex;
    margin: 0;
    padding: 0;
}

input[type='text'] {
    background-color: gainsboro;
    border: none;
    border-radius: 10px;
    flex: 1;
    height: 20px;
    max-width: 430px;
}

form img {
    height: 17px;
    margin-left: 30px;
    margin-right: 12px;
    position: relative;
    top: 3px;
}

.header2 {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 18.5px;
}

#bell {
    height: 17px;
}

#pfp {
    height: 32px;
    border-radius: 50%;
    border: 1px solid black;
}

.header2 span {
    font-size: 13px;
    font-weight: bold;
    position: relative;
    top: -3px;
    left: 5px;
}

.header3 {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-top: 15px;
    padding-left: 35px;
}

#pfp2 {
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
}

.header3 div {
    display: flex;  
    flex-direction: column;
    padding-top: 10px;
    gap: 3px;
}

.header3 span {
    font-size: 17px;
    font-weight: bolder;
}

.header3 span:first-child{
    font-size: 9.5px;
}

.header4 {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    padding-left: 2px;
    padding-top: 10px;
}

.header4 button {
    font-size: 10.5px;
    font-weight: 550;
    text-align: center;
    color: white;
    background-color:#1c93d2;
    border: none;
    border-radius: 30px;
    height: 29px;
    min-width: 71.5px;
}

.main-content {
    background-color: gainsboro;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 35px 1fr;
    grid-template-columns: 1fr 193px;
    gap: 15px;
    padding-left: 15px;
    padding-right: 25px;
}

.main-content > div {
    border: 1px solid darkgreen;
}

.cards {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(3,158px);
    gap: 18px;
}

.card {
    font-size: 12px;
    background-color: white;
    color: black;
    height: 158px;
    display: grid;
    grid-template-rows: 1fr 40px;
    grid-template-columns: 5px 1fr;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}

.decor {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: orange;
}

.textContent {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    background-color: white;
}

.footer {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: purple;
}

.card .title {
    font-weight: bold;
    color: black;
}

.sideRight {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 20px 1fr;
    grid-template-columns: 1fr;
}